@charset"UTF-8";

/*reset*/
*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Main style*/
body,
html {
    font-family: 'Alata', sans-serif;
    line-height: 1.7rem;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
}

/*Top navbar*/
.navbar {
    background-color: #0A1F44;
}
.navbar button{
     height: 48px;
    padding: 12px 28px;
    border-radius: 10px;
    color: white;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    transition: all 1s ease-in-out;
}
.navbar button:hover{
    transform: scale(1.2);
}
/*down nav-bar*/
.nav-bar .collapse .navbar-nav a {
    color: black;
}
/*Product Style*/
.product{
    justify-content: center !important;
    align-content: center;
}
.product .row .col {
    margin: 50px 50px;
}
.product .row .col h1{
    color: midnightblue;
    font-size: 2rem;
    font-weight: bold;
}
.product .row .col span{
    color: crimson;
}
.product .row .col p{
    font-size: 15px;
    color: black;
}
.product .row .col button{
    height: 48px;
    padding: 10px 15px;
    margin: 0 15px;
    border-radius: 24px;
    color: white;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    transition: all 1s ease-in-out;
}
.product .row .col button:hover{
     transform: scale(1.2);
}
/*features style*/
.features .jumbotron{
    height: 750px;
}
.features .jumbotron .info{
    text-align: center;
}
.features .jumbotron .info h6{
    color: crimson;
    font-size: 12px;
    margin: 15px 0;
}
.features .jumbotron .info h1{
    font-size: 2rem;
    color: black;
     margin: 15px 0;
    font-weight: bold;
}
.features .jumbotron .info span{
    color: crimson;
}
.features .jumbotron .info p{
    font-size: 15px;
      margin: 15px 0;
}
.features .jumbotron .row .col {
    justify-content: center;
    text-align: center;
    margin: 10px;
}
.features .jumbotron .row .col i{
    color: red;
    margin: 10px ;
}
.features .jumbotron .row .col h1{
    color: black;
    font-size: 15px;
        margin: 10px ;
}
.features .jumbotron .row .col p{
    font-size: 10px;
        margin: 10px ;
}
/*technical Style*/
.Technical{
    height: 800px;
}
.Technical .infoo{
    text-align: center;
}
.Technical .infoo h6{
    color: crimson;
    font-size: 12px;
    margin: 10px 10px;
    font-weight: bold;
}
.Technical .infoo h1{
    color: black;
    font-size: 2rem;    
    font-weight: bold;
    margin: 10px 10px;
}
.Technical .infoo span{
    color: crimson;
}
.Technical .infoo p{
    color: black;
    margin: 10px 10px;
    font-size: 12px;
}
/*area style*/
.area .jumbotron {
    height: 600px;
}
.area .jumbotron .infooo{
    text-align: center;
}
.area .jumbotron .infooo h1{
    color: black;
    font-size: 2rem;
    font-weight: bold;
    margin: 10px 10px;
}
.area .jumbotron .infooo p{
       color: black;
    font-size: .8rem;
    margin: 10px 10px;
}
.area .jumbotron .row .col {
    box-sizing: border-box;
    background-color: white;
    text-align: center;
    margin: 10px 10px;;
    border-radius: 10px;
}
.area .jumbotron .row .col .rounded{
    border-radius: 500%;
    padding: 0px;
    border: 8px solid white;
    background: linear-gradient(60deg,white);
    
}       
.area .jumbotron .row .col i{
    color: gold;
}
.area .jumbotron .row .col h3{
    font-size: 15px;
    font-weight: bold;
}
.area .jumbotron .row .col h6{
    font-size: 12px; 
}
.area .jumbotron .row .col p{
    font-size: 12px;
}
/*pricing style*/
/*asked style*/
.asked {
    height: 410px;
}
.asked h1{
    text-align: center;
    font-size: 2rem;
    font-weight:bold;
    margin: 50px 10px;
}
.asked .row .col{
    margin: 20px 20px;
}
.asked .row .col h2{
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
}
.asked .row .col p{
    font-size: .9rem
}
/*contact us*/
.get .row .col{
    height: 500px;
    text-align: center;
}
.get .row .col .jumbotron .info{
    text-align: center;
}
.get .row .col .jumbotron .info h1{
    font-size: 2rem;
    font-weight: bold;
      margin: 10px 10px;
}
.get .row .col .jumbotron .info p{
    font-size: .8rem;
        margin: 10px 10px;
    padding: 0 20px;
}
.get .row .col .jumbotron .info h4{
     font-size: 1rem;
    font-weight: bold;
      margin: 10px 10px;
}
.get .row .col h1{
        font-size: 2rem;
    font-weight: bold;
      margin: 10px 10px;
}
.get .row .col p {
    font-size: .8rem;
        margin: 10px 10px;
}
.get .row .col input[type=text],
input[type=email]{
    border-radius: 50px solid red;
    background-color: whitesmoke;
    border: none;
    margin: 10px 10px;
    width: 70%;
}
.get .row .col textarea{
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    background-color: whitesmoke;
    margin: 10px 10px;
    width: 70%;
} 
.get .row .col button {
      height: 48px;
    padding: 10px 15px;
    margin: 0 15px;
    width: 70%;
    border-radius: 24px;
    color: white;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    transition: all 1s ease-in-out;
}
.get .row .col button:hover{
      transform: scale(1.2);
}
/*buy style*/
.buy{
    height: 200px;
    text-align: center;
}
.buy h1{
    font-size: 2rem;
    font-weight: bold;
    margin: 10px 10px;
    color: midnightblue;
}
.buy p{
    font-size: .8rem;
    margin: 10px 10px;
}
.buy button{
         height: 48px;
    padding: 10px 15px;
    margin: 10px 15px;
    width: 10%;
    border-radius: 24px;
    color: white;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    transition: all 1s ease-in-out;
}
.buy button:hover{
    transform: scale(1.2);
}
.last{
    background-color: midnightblue;
    height: 150px;
}
.last .navbar{
    background-color: transparent;
    margin: 10px 10px;
    padding-top: 20px;
    color:white;
}
.last .navbar img{
    margin: 0 10px;
}
.last .navbar a{
    color: whitesmoke;
}

.last hr{
    color: white;
    background-color: white;
    border-bottom: 50px;
}
.last i{
    color: whitesmoke;
    margin: 0 5px;
}
.last .you{
    float: right;
    color: white;
}